// Primary

$Orange: hsl(26, 100%, 55%);
$Paleorange: hsl(25, 100%, 94%);

// Neutral

$Veryvarkblue: hsl(220, 13%, 13%);
$Darkgrayishblue: hsl(219, 9%, 45%);
$Grayishblue: hsl(220, 14%, 75%);
$Lightgrayishblue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.container{
    display: grid;
    width: 100vw;
    height: auto;
    grid-template-rows: 50px auto auto;    
    position: relative;
  }
  
@media screen  and (min-width: 768px) {
    
  .container{
    height: 100vh;
    grid-template-columns: 50vw 50vw;    
    grid-template-rows: 80px 1fr;  
  }
}